.cart-drawer {
  transform: translateX(100%);
}
.cart-drawer.open {
  transform: translateX(0);
}

.cart-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background: white;
  z-index: 100;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn__carrito__container {
  display: flex;
  justify-content: space-between;
}

.btn__top {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  color: red;
}

.cart-products {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.cart-footer {
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  background: white;
  position: sticky;
  bottom: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.hache__dos {
  text-align: center;
  margin-bottom: 1.5rem;
}

.global__container {
  display: flex;
  flex-direction: column;
}

.top__container {
  display: flex;
  align-items: center;
  gap: 35px;
  width: 85%;
}

.bottom__container {
  display: flex;
  gap: 25px;
}

.grupo__img {
  width: 75px;
  height: auto;
}

.btn {
  border-radius: 30px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
}
